@import "./login.module.scss";
@import "./functions.module.scss";

.Add_clients_Heading{
  text-align: left;
  font: normal normal bold 44px/66px Montserrat;
  letter-spacing: 0px;
  color: #383838;
  opacity: 1;
  margin-top: 15px;
}

.root_selector_container{
  display:flex;
  width: 100%;
  border-bottom: 4px solid #F0F0F0;
  position: relative;
  margin-bottom: 50px;
}

.switch_btns_active{
  font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    padding: 10px 100px;
    text-align: center;
    position: relative;
    top: 4px;
    border-bottom: 4px solid #383838;
}


.switch_btns_deactive{
  font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #BFBFBF;
    opacity: 1;
    padding: 10px 100px;
    text-align: center;
    position: relative;
    top: 4px;
    cursor: pointer;
}

.Add_clients_ip_container{
  @include flex(row,center,space-between);
}

.Add_clients_ip_container_2{
  @include flex(row,center,flex-start);
  margin: 42px 0px;
}

.Add_clients_ip_container_2_1{
  margin: 42px 0px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.Add_clients_ip_container_2_2{
  // @include flex(row,center,flex-start);
  margin: 42px 0px;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
}

.upload_btn{
  font: normal normal bold 15px/23px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  background: #383838 0% 0% no-repeat padding-box;
  border-radius: 10px;
  width: 44.5%;
  height: 70px;
  position: relative;
  top: 24px;
  right: 20px;
}

.checkBox_container{
  @include flex(column,flex-start,center);
  width: 20%;
  position: relative;
  top: 25px;
  white-space: nowrap;  
  margin-right: 50px;
}

.hr_divider{
  background: #707070;
  height: 2px;
  opacity: 0.2;
  position: relative;
  left: -6px;
}

.team_wrapper{
  height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
}